.accueil{
    background-color: #95BDFF;
    font-size: 1.6em;
    font-weight: bold;
    margin: auto;
    height: 100%;
    text-align: center;
    min-width: 350px;
    padding-bottom: auto;
}

.accueil__title {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 11px 7px 4px rgba(0, 0, 0, 0.98);
    margin:0;
    margin-bottom: 30px;
    padding-top: 20px;
}

.accueil__body{
    display: flex;
    justify-content: center;
    padding-bottom: 160px;
    flex-wrap: wrap;
}
.accueil__left{
    flex: 0.3 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
}
.accueil__left li {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    list-style: none;
    padding: 1% 15%;
    max-width: 60%;
    min-width: 250px;
}
li:hover{
    transition: transform 0.1s ease-in-out;
    transform: scale(1.07) !important;
}
li {
    margin:10px;
    align-items: center;
}

a{
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.accueil__right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 20px 30px;
    min-width: 300px;
    max-width: 500px;
}

.accueil__right li {
    background: #F3F3F3;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px 10px;
    list-style: none;
    margin: 10px auto;
    min-width: 250px;
    max-width: 80%;
}
.accueil__right p{
    text-decoration: underline;
}
ul{
    margin:0;
    padding:0;
}
