.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #95bdff;
}

.Ctn {
  background-color: #95bdff;
}

.Game-TopBar {
  display: flex;
  margin-top: 1%;
}

.Game-TopBar .GameName {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 600px) {
  .Game-TopBar .GameName .Name {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    border: solid black 2px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .Game-TopBar .GameName .Name {
    display: flex;
    padding: 10px;
    width: fit-content;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    border: solid black 2px;
    cursor: pointer;
    font-weight: bold;
  }
}

.Btn_Partie {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: white;
  border: solid black 2px;
  width: 170px;
  margin-right: 30px;
  margin: 35px;
  cursor: pointer;
}

@media screen and (min-width: 100px) {
  .Game-TopBar .RightPanel {
    display: flex;
    justify-content: space-between;
  }
}

.Game-TopBar .ShowPlayers {
  align-items: center;
  text-align: center;
  border-radius: 100px;
  background-color: white;
  border: solid black 2px;
  text-transform: capitalize;
  flex: 1;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.Game-TopBar .GoBack {
  align-items: center;
  border-radius: 100px;
  margin-left: 20px;
  text-align: center;
  background-color: white;
  border: solid black 2px;
  text-transform: capitalize;
  flex: 1;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.Game-Playground {
  display: flex;
  flex: 1;
}
