.Grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("./map.png");
  background-repeat: no-repeat;
  background-size: 99.9%;
  width: max-content;
  padding-left: 0px;
  margin-left: -3px;
  margin-top: -3px;
}

.TransformComponent-module_container__3NwNd {
  border: solid black 3.2px;
}

.tools {
  position: absolute;
  padding-left: 2px;
  padding-top: 2px;
  width: 30px;
}

.tools {
  display: flex;
  flex-direction: column;
}

/* .Grid .row:first-child {
  border-top: solid;
}

.Grid .row:last-child {
  border-bottom: solid;
} */

.Grid .row {
  display: flex;
  flex-direction: row;
  /* border-left: solid;
  border-right: solid; */
}

.Grid #cell {
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: 2px dotted #a0a0a0;
}

.obstacle {
  background-color: rgba(0, 0, 0, 0.5);
}
.loot {
  background-color: rgba(0, 37, 248, 0.5);
}

.lootWeapon {
  background-color: rgba(238, 2, 2, 0.5);
}

.lootArmor {
  background-color: rgba(248, 244, 0, 0.5);
}
.walkable {
  background-color: rgba(255, 255, 255, 0.5);
}
.player {
  background-color: rgba(214, 25, 173, 0.5);
}

