.Grid {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("./map.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2%;
  margin: 2% 15%;
}

.Grid .row:first-child {
  border-top: solid;
}

.Grid .row:last-child {
  border-bottom: solid;
}

.Grid .row {
  display: flex;
  flex-direction: row;
  border-left: solid;
  border-right: solid;
}

.Grid .cell {
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: 2px dotted #a0a0a0;
}
