.Grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("./map.png");
  padding-left: 0px;
  background-repeat: no-repeat;
  background-size: 99.9%;
  width: max-content;
  margin-top: 2%;
}

.tools {
  display: flex;
  flex-direction: column;
}

.Grid .row:first-child {
  border-top: solid;
}

.Grid .row:last-child {
  border-bottom: solid;
}

.Grid .row {
  display: flex;
  flex-direction: row;
  border-left: solid;
  border-right: solid;
}

<<<<<<< HEAD
.Grid #cell {
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: 2px dotted #a0a0a0;
}

.obstacle {
  background-color: rgba(0, 0, 0, 0.5);
}
.loot {
  background-color: rgba(0, 37, 248, 0.5);
}

.lootWeapon {
  background-color: rgba(238, 2, 2, 0.5);
}

.lootArmor {
  background-color: rgba(248, 244, 0, 0.5);
}
.walkable {
  background-color: rgba(255, 255, 255, 0.5);
}
.player {
  background-color: rgba(214, 25, 173, 0.5);
}
=======
@media screen and (max-width: 500px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 7px;
    height: 7px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 501px) and (max-width: 540px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 7.4px;
    height: 7.4px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 540px) and (max-width: 570px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 8.3px;
    height: 8.3px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 570px) and (max-width: 600px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 9px;
    height: 9px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 600px) and (max-width: 630px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 9.5px;
    height: 9.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 630px) and (max-width: 660px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 660px) and (max-width: 690px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 11px;
    height: 11px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 690px) and (max-width: 710px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 11.5px;
    height: 11.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 710px) and (max-width: 740px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 740px) and (max-width: 770px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 12.5px;
    height: 12.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 770px) and (max-width: 800px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 13.5px;
    height: 13.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 800px) and (max-width: 830px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 13.9px;
    height: 13.9px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 830px) and (max-width: 860px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 14.6px;
    height: 14.6px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 860px) and (max-width: 890px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 15.3px;
    height: 15.3px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 890px) and (max-width: 910px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 910px) and (max-width: 940px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 16.5px;
    height: 16.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 940px) and (max-width: 970px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 17.2px;
    height: 17.2px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 970px) and (max-width: 1000px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 17.9px;
    height: 17.9px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 18.6px;
    height: 18.6px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1060px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 19.4px;
    height: 19.4px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1060px) and (max-width: 1090px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1090px) and (max-width: 1120px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 20.8px;
    height: 20.8px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1125px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 21px;
    height: 21px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1125px) and (max-width: 1130px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 21.5px;
    height: 21.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1130px) and (max-width: 1135px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 21.7px;
    height: 21.7px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1135px) and (max-width: 1140px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 21.9px;
    height: 21.9px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1140px) and (max-width: 1145px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1145px) and (max-width: 1150px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 22.1px;
    height: 22.1px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1150px) and (max-width: 1180px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 22.3px;
    height: 22.3px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1210px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 23px;
    height: 23px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1210px) and (max-width: 1240px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 23.7px;
    height: 23.7px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1270px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 24.4px;
    height: 24.4px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


/* @media screen and (min-width: 1270px) and (max-width: 1300px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 25.1px;
    height: 25.1px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1330px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 25.8px;
    height: 25.8px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1330px) and (max-width: 1360px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 26.2px;
    height: 26.2px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1360px) and (max-width: 1390px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 26.5px;
    height: 26.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1390px) and (max-width: 1420px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 26.8px;
    height: 26.8px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1420px) and (max-width: 1450px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 27.2px;
    height: 27.2px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1480px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 27.5px;
    height: 27.5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
}


@media screen and (min-width: 1480px) and (max-width: 1510px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
  }
} */

@media screen and (min-width: 1270px) {
  .Grid .cell {
    min-width: auto;
    max-width: auto;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border: 2px dotted #a0a0a0;
    size: A4 landscape;
  }
}
>>>>>>> style
